.prot{
    font-weight: bolder;
    font-size: 3rem;
    color: rgb(247, 247, 17);
    
}
.projCon{
background-color: rgb(0, 0, 33);


gap: 100;


}
.proj-card:hover {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 0px 5px 15px rgba(11, 184, 43, 0.61);
  }

  
[row]{
    display: flex;
    justify-content: space-between;
}

