/* ContactForm.css */
/* Style the form container */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  
  }
  
  /* Style form labels */
  label {
    font-weight: bold;
  }
  
  /* Style form inputs */
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style error messages */
  .text-danger {
    color: red;
    font-size: 14px;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    background-color: #0f8731;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style the submit button on hover */
  button[type="submit"]:hover {
    background-color: #095a20;
  }
  .contact{
    background-color: rgb(0, 0, 33);
  
  }
.btnsub{
    text-align: center; /* Horizontally center the button */
    margin-top: 20px;   /* Add some spacing at the top for vertical centering */
  }
  .contactitem img{
    height: 40px;
  }
  .contactitem{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .formdiv{
    width: 500px !important;
  }
  .formdiv:hover{
    transform: scale(1.01);
    box-shadow: 0px 10px 10px rgb(31, 10, 150);
  }
  .contactitem a:hover{
    transform: scale(1.2);
    box-shadow: 0px 5px 15px rgba(35, 11, 216, 0.705);
    
  }